* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button {
    
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}




header {
    background-color: black;
    padding: 10px 5px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
}

.logo img {
    height: 50px;
}

.menu__expanded {
    display: none;
}

.menu__item {
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
}

.menu__item a {
    color: #FFF;
}

.menu__item:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}

.menu__item button {
    background-color: transparent;
    border: none;
    color: #FFF;
}

.menu__expanded {
    position: absolute;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    left: -12px;
    top: 45px;
}

.menu__item button, .menu__item a {
    font-size: .65em;
}

.menu__item:hover > .menu__expanded {
    display: block;
}

.banner{
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.banner__image {
    width: 100%;
    object-fit: cover;
}

.banner__title {
    position: absolute;
    font-size: 4em;
    color: rgb(0, 0, 0);
    top: 32%;
    left: 5%;
}

.banner a{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 229, 18);
    position: absolute;
    padding: 0.1% 1%;
    top: 65%;
    left: 40%;
    font-size: 20px;
}

.promo{
background-color: rgb(255, 229, 18);
font-family: 'Poppins', sans-serif;

}

.promo h1{
    text-align: center;
    font-size: 15px;
}


.shop{
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.shop h2{
    position: absolute;
    align: center;
    font-size: 4em;
    color: rgb(255, 255, 255);
    top: 32%;
    left: 5%;
}


.shop__list{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 10% ;
    
}

.shop__item{
    margin: 2%;
}


