* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button {
    
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}




header {
    background-color: black;
    padding: 10px 5px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
}

.logo img {
    height: 50px;
}





.menu__expanded {
    display: none;
}

.menu__item {
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
}

.menu__item a {
    color: #FFF;
}

.menu__item:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}

.menu__item button {
    background-color: transparent;
    border: none;
    color: #FFF;
}

.menu__expanded {
    position: absolute;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    left: -12px;
    top: 45px;
}

.menu__item button, .menu__item a {
    font-size: .65em;
}

.menu__item:hover > .menu__expanded {
    display: block;
}





.banner{
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.banner__image {
    width: 100%;
    object-fit: cover;
    background: linear-gradient(270deg, rgba(27, 38, 27, 0.7) 0%, rgba(27, 31, 38, 0) 98.18%);
}

.banner__title {
    position: absolute;
    background-color: rgb(255, 229, 18);
    font-size: 4em;
    color: rgb(0, 0, 0);
    top: 32%;
    left: 0.1%;
    padding: 0% 2% 0% 10%;
}

.banner a{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 229, 18);
    position: absolute;
    padding: 0.1% 1%;
    top: 55%;
    left: 47%;
    font-size: 20px;
}





.promo{
background-color: rgb(255, 229, 18);
font-family: 'Poppins', sans-serif;

}

.promo h1{
    text-align: center;
    font-size: 15px;
}




.shop__title{
    text-align: center;
    flex: auto;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 6% 0% 1% 0%;
  
}


.shop__list{
    
    display: flex;
    align-items: center;    
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 0% 5% 5%;    

}

.shop__item{
    margin: 1% 2% 0% 0%;
    color: #FFF;

}

.shop__img{
    width: 155px;
    height: 155px;
}

.shop__product{
    
    font-size: 15px;
}

.shop__price{
    font-family: 'Poppins', sans-serif;

}





.happyThings{

    background-color: rgb(27,31,38);
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
}

.thing{
    margin: 44px 55px;
    color: #FFF;
}

.thing h1{
   font-size: 25px;
   text-transform: uppercase;
   text-align: left;
}


.thing img{
    width: 310px;
    height:310px;
}


.carrousel {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    background-color: black;
    padding: 5%;
     
}

.carrousel__imagenes img{
    width: 100%;
    object-fit: cover;
}

.carrousel a{
    color: white;
    font-size: 20px;
    padding-right: 1% 10%;
}

.carrousel a{
    color: white;
    font-size: 25px;
    
}

.carrousel__a{
    padding: 1% 0.2%;
}



